@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --iriscolor: #4d5ae5;
    --navyblue: #2E2F42;
    --navcolor: black;
    --oceancolor: #2196F3;
    --whitecolor: white;
    --slatecolor: #434455;
    --ashwhite: rgb(242, 237, 237);
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--whitecolor);
    letter-spacing: 0.01em;
}

.logo-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 800;
}

.logo {
    color: var(--iriscolor);
}

.studio {
    color: var(--navyblue);
}

.nav-menu .page {
    color: var(--navcolor);
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.05em;
}

.list {
    list-style-type: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .info:hover,
.contacts-menu .info:focus {
    color: var(--oceancolor);
}

.contacts-menu .item {
    color: var(--navcolor);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    text-decoration: none;
}  
.bg-hero {
    background: var(--navyblue);
    width: 1441px;
    height: 600px;
    line-height: 60px;
    left: 0px;
    top: 72px;
}
.hero-title {
    color: var(--whitecolor);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.05em;
}
.button.filter:hover,
.button.filter:focus,
.button.filter.primary {
    background-color: var(--oceancolor);
    color: var(--whitecolor);
}
.button.filter {
    background-color: var(--whitecolor);
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
}
.button.filter:hover,
.button.filter:focus,
.button.filter.primary {
    background-color: var(--oceancolor);
    color: var(--whitecolor);
    line-height: 60px;
    left: 0px;
    top: 72px;
}

.button {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.05em;
    font-family: inherit;
}
.button.primary {
    background-color: var(--oceancolor);
    color: var(--whitecolor);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05;
}
.button .primary {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.05em;
}
.button.primary:hover,
.button.primary:focus {
    background-color: hotpink;
}

.button.filter.current {
    background-color: var(--oceancolor);
}
.button.filter {
    background-color: var(--whitecolor);
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 10px;
}

.button.filter:hover,
.button.filter:focus {
    background-color: var(--oceancolor);
    color: var(--whitecolor);
}

.button.filter.current:hover,
.button.filter.current:focus {
    background-color: hotpink;
}
.description {
    background-color: rgb(231, 232, 252);
}
.title {
    background-color: rgb(231, 232, 252);
}
.description.title {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: var(--slatecolor);
}
.section-title {
    text-align: center;
    color: var(--navyblue);
    font-size: 36x;
    font-weight: 700;
    line-height: 1.5px;
    letter-spacing: 0.05em;
}
.name {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--navyblue);
}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: var(--slatecolor);
}
.bg-footer {
    background-color: var(--navyblue);
}
.studio-footer {
    color: white;
}
.footer-description {
    color: white;
    width: 265px;
    font-size: 14px;
    height: 70px;
    top: 3300px;
    left: 156px;
    font-weight: 400;
}
.project {
    text-decoration: none;
}
.project .name {
    color: var(--navcolor);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project .type {
    color: var(--navcolor);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.name {
    background-color: rgb(231, 232, 252);
}

.type {
    background-color: rgb(231, 232, 252);
}